.item-menubar {
  cursor: pointer;
}
.child-item-menubar {
  display: flex;
  background: url("./assets/media/bg-icon-menubar.png") no-repeat center center;
  background-size: 72px 72px;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
.item-label {
  flex: 1;
  align-self: center;
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: left;
  margin-left: 1.2em;
}
.header-image {
  border-radius: 0px;
  background: linear-gradient(to right, rgba(44, 4, 4, 0.73), rgba(245, 246, 252, 0.52)), 
  url("https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2532&q=80") no-repeat center center;
  background-size: cover;
  border-bottom-left-radius: 4em;
  border-bottom-right-radius: 4em;
}
@media (max-width: 767px) {
  .item-label {
    margin-left: 0px;
    text-align: center;
  }
}